/* --------------- */
/* Reset & Presets */
/* --------------- */
body, h1, h2, h3, h4, h5, p, figure, picture {
    margin: 0; 
    font-weight: 400;
} button {
    display: block;
    text-decoration: none;
    box-shadow: none;
    border: 0;
    background: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
} button:visited {
    text-decoration: none;
} img {
    max-width: 100%;
    display: block;
}
/* ----------------- */
/* Custom Properties */
/* ----------------- */
html {
    font-size: 16px;
}
:root {
    /* colors hsl */
    /* --clr-main: 186, 64%, 10%;
    --clr-accent: 300, 76%, 72%;
    --clr-accent-decline: 208, 100%, 97%; */

    --clr-main: #5700FF;
    --clr-accent: rgb(147, 255, 154);
    --clr-accent-decline: rgb(255, 146, 133);
    --clr-link: yellow;
    --clr-link-hover: white;
    --clr-contrast: white;
    /* fonts sizes */
    --fs-900: 6.25rem;
    --fs-800: 3.5rem; 
    --fs-700: 2rem; 
    --fs-600: 1.75rem;
    --fs-500: 1.2rem; 
    --fs-400: 1rem; 
    --fs-300: 0.875rem;
    --fs-200: 0.75rem;
    --fs-100: 0.5rem;
    /* fonts families */
    --ff-primary: tabular-regular;
    --ff-primary-medium: tabular-medium;
    --ff-primary-bold: tabular-bold;
    --ff-primary-italic: tabular-italic;
    --ff-secondary: gulax;
    --ff-decorative: archiv-grotesk;
    --ff-display: tanker;
    /* placement values */
    --header-common-margin: 2%;
    --project-list-btn-pad: 5%;
    --info-pop-pad: 30px;
    --p-margin-block: 15px;
    /* pop values */
    --pop-bg-color: var(--clr-main);
    --pop-text-color: var(--clr-accent);
    --pop-padding: 30px; 
    /* decoration */
    --border-w: 1px;
        /* FONTS */
    /* h1 */
    --desktop-font-display-multifunction-home-bold-size: 40px;
    --desktop-font-display-multifunction-home-bold-family: tabular-regular;
    /* h2 */
    --desktop-font-display-list-home-regular-size: 40px;
    --desktop-font-display-list-home-regular-family: tabular-regular;
    /* h4 */
    --desktop-font-display-pop-bar-label-size: 20px;
    --desktop-font-display-pop-bar-label-family: tabular-regular;
    /* h3 */
    --desktop-font-display-pop-header-size: 40px;
    --desktop-font-display-pop-header-family: tabular-regular;
    /* h4 */
    --desktop-font-display-pop-detail-size: 20px;
    --desktop-font-display-pop-detail-family: tabular-regular;
    
    --desktop-font-text-pop-size: 20px;
    --desktop-font-text-pop-family: tabular-regular;
    --desktop-font-button-pop-size: 40px;
    --desktop-font-button-pop-family: tabular-regular;
    
} 
/* ------------------------ */
/* Layout Hardcoded Classes */
/* ------------------------ */
body {
    margin: 0;
    overflow: hidden;
    line-height: 1.6;
    min-height: 100vh;
    font-family: var(--ff-primary);
    font-size:var(--fs-400);
} #westCountry {
    /* background-color: lime; */
    position: relative; 
    width: 100%;
    height: 100%;
    padding: 5%;
    margin: auto;
    justify-content: space-between;
} #closePOP {
    display: none;
    position: absolute; 
    bottom: 1%; 
    right: 2%;
    text-decoration: underline;
    z-index: 2;
    background-color:var(--clr-main);
} #westProvince {
    position: relative; 
    color: var(--clr-main);
    height: 90%;
    padding: 10%;
    overflow-y: auto; 
} #eastContinent {
    height: 84%;
}
/* --------------- */
/* Utility classes */
/* --------------- */
.flex { display: flex; } 
.flex-column {
    display: flex;
    flex-direction: column;
} .p-abs-h-100 {
    position: absolute;
    height: 100vh;
} .container-pop {
    position: absolute;
    border: var(--border-w) solid var(--clr-accent);
    display: flex;
    flex-direction: column;
    max-height: 80%;
    max-width: 80%;
    z-index: 1;
} .bar {
    justify-content: space-between;
    padding-left: var(--header-common-margin);
} .cta {
    width: 100%;
    padding: var(--header-common-margin);   
    background-color: var(--clr-accent);
} .cta:hover {
    background-color: var(--clr-accent-decline);
} .list-button {
    text-align: left;
    margin-block: var(--header-common-margin);
} .list-button:hover {
    color: var(--clr-accent-sec);
    text-decoration: overline;
} p {
    margin-block: var(--p-margin-block);
    font-size: var(--fs-400);
} .text-box {
    max-height: 250px;
    overflow-y: scroll;
    /* margin-block: 10%; */
} .infoContent {
    overflow-y: scroll; 
    padding: var(--info-pop-pad); 
    gap: 20px;
} .noScrollBar::-webkit-scrollbar {
    height: 0px;
    width: 0px;
} .lowercase {
    text-transform: lowercase;
} .underless {
    text-decoration: none;
} .navButton {
    color: var(--clr-main);
} .projectNav {
    position: absolute;
    bottom: 0;
    width: 96%; 
    height: 5%;
    justify-content: space-between;
    padding-inline: var(--header-common-margin); 
    background-color: inherit;
    align-items: center;
    /* border-top: var(--border-w) solid var(--clr-accent-decline); */
} .tool {
    display: flex;
    max-height: 20%;
    flex-direction: column;
    flex-wrap: wrap;
} .section {
    background-color: var(--clr-accent);
    color: var(--clr-main);
    height: 100px;
    border: var(--border-w) solid var(--clr-main);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
} .section:hover {
    background-color: var(--clr-main);
    color: var(--clr-accent);
} .section-prev-txt {
    height:fit-content;
    margin-inline: 5%;
} .grid {
    width:100%;
    display: grid;
    grid-template-columns: 33% 33%  33%;

    /* grid-column-start: 1;
    grid-column-end: 2; */
} .adapt {
    height: fit-content !important;
    flex-direction: column;
    padding: 5%;
    width: 90%;
} .adapt:hover {
    background-color: var(--clr-accent);
    color: var(--clr-main);
    border-width: 3px;
} .scrollable {
    overflow-y: scroll;
}

.link, link:visited{ color: var(--clr-link)} 
.link:hover, link:visited:hover  { color: var(--clr-link-hover)} 
/* colors */
.bg-main { background-color: var(--clr-main)}
.bg-accent { background-color: var(--clr-accent)}
.bg-accent-decline { background-color: var(--clr-accent-decline)}
.text-main { color: var(--clr-main)}
.text-accent { color: var(--clr-accent)}
.text-contrast { color: var(--clr-contrast)}
/* fonts */
.fs-900 { font-size: var(--fs-900)} 
.fs-800 { font-size: var(--fs-800)} 
.fs-700 { font-size: var(--fs-700)}
.fs-600 { font-size: var(--fs-600)}
.fs-500 { font-size: var(--fs-500)}
.fs-400 { font-size: var(--fs-400)} 
.fs-300 { font-size: var(--fs-300)}
.fs-200 { font-size: var(--fs-200)}
.fs-100 { font-size: var(--fs-100)}
/* fonts families */
.ff-primary { font-family: var(--ff-primary)}
.ff-primary-medium { font-family: var(--ff-primary-medium)}
.ff-primary-bold { font-family: var(--ff-primary-bold)}
.ff-secondary { font-family: var(--ff-secondary)}
.ff-decorative { font-family: var(--ff-decorative)}
/* font weight */
.bold {font-weight: bold}
.italic {font-style: italic}
/* font hierarchy */
/* page title */
h1 { font-size: var(--fs-500); font-family: var(--ff-primary); margin-block: var(--header-common-margin);}
/* action button */
h2 { font-size: var(--fs-500); font-family: var(--ff-primary);}
/*  pop title  */
h3 { font-size: var(--fs-700); font-family: var(--ff-primary);}
/* medium details */
h4 { font-size: var(--fs-300); font-family: var(--ff-primary-italic);}
/* cta button */
h5 { font-size: var(--fs-500); font-family: var(--ff-primary-medium); text-align: left; margin-inline: var(--header-common-margin); }


/* ------------- */
/* Other classes */
/* ------------- */

::-webkit-scrollbar {
    height: 3x;
    width: 3px;
} /* Track */
::-webkit-scrollbar-track {
    background: var(--clr-main);
} /* Handle */
::-webkit-scrollbar-thumb {
    background: var(--clr-accent);   
    width: 13px;
} /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: pink;
}

/* remove animation for people who turned them off */
@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}