/* Reset & Presets */
body, h1, h2, h3, h4, h5, p, figure, picture {
    margin: 0; 
    font-weight: 400;
} button {
    display: block;
    text-decoration: none;
    box-shadow: none;
    border: 0;
    background: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
} button:visited {
    text-decoration: none;
} img {
    max-width: 100%;
    display: block;
}
/* ------------------------ */
/* Layout Hardcoded Classes */
/* ------------------------ */
body {
    margin: 0;
    overflow: hidden;
    line-height: 1.4;
    min-height: 100vh;
    font-family: var(--ff-primary);
    font-size:var(--fs-400);
} #westCountry {
    /* background-color: lime; */
    position: relative; 
    width: 100%;
    height: 100%;
    padding: 5%;
    margin: auto;
    justify-content: space-between;
} #closePOP {
    display: none;
    position: absolute; 
    bottom: 1%; 
    right: 2%;
    z-index: 2;
} #westWorld {
    /* margin-bottom: 5%; */
    padding: var(--pad-marg-xl);
    overflow-y: auto;
    overflow-x: hidden; 
    gap: var(--pad-marg-s)
} #westWorld>h4 {
    background-color: var(--clr-unique-accent);
    width:fit-content
} #east {
    overflow-y: auto; 
    overflow-x: hidden;
    background-color: hsl(240, 100%, 50%, 0) ;
    z-index: 0;
} #eastIslands {
    gap: var(--pad-marg-xl);
    padding-block-end: var(--pad-marg-mega);
    padding-inline: var(--pad-marg-xl);
    background-color: hsl(240, 100%, 50%, 0) ;
    z-index: 2;
} #switzerland {
    display: none;
    background-color: var(--clr-main);
    color: var(--clr-secondary);
    justify-content: space-around;
    align-items: center;
    z-index: 1;
} #coll-down {
    text-align: right;
}
/* --------------- */
/* Utility classes */
/* --------------- */
.flex {display: flex}
.flex-column {display: flex; flex-direction: column;} 


.underless {text-decoration: none} 
.scrollable {overflow-y: scroll; overflow-x: hidden;} 
.ref {font-size: var(--fs-200)} 
.eyebrow {font-size: var(--fs-400)}

.cards {gap: var(--pad-marg-l)} 
.p-abs-h-100 {position: absolute; height: 100vh;} 
.text-box {max-height: 250px; overflow-y: scroll;}

.nav-list-button:hover {text-decoration: overline}
.cta:hover {background-color: var(--clr-contrast)}
.coll {
    font-size: var(--fs-300);
} .coll:hover {
    /* background-color: var(--clr-unique-accent);
    color: var(--clr-main); */
    text-decoration: underline;
}

.container-pop {
    position: absolute;
    border: var(--border-w) solid var(--clr-accent);
    display: flex;
    flex-direction: column;
    max-height: 80%;
    max-width: 80%;
    z-index: 1;
    background-color: var(--clr-main);
    /* box-shadow: 10px 10px grey; */
    /* color: LightGreen; */
} .ss-ss-tit {
    border-style: solid;
    width: fit-content;
    border-width: 0px  0px 0px var(--border-w-bold);
    padding-inline: var(--pad-marg-s);
    font-weight: bold;
}

.bar {
    justify-content: space-between;
    align-items: center;
    padding-left: var(--header-common-margin);
    display: flex;
    color: var(--clr-main);
    font-weight: 500;
} .cta {
    width: 100%;
    padding-inline: var(--pad-marg-m);   
    padding-block: var(--pad-marg-s); 
    background-color: var(--clr-accent);
    color: var(--clr-main);
    /* border: var(--border-w) solid lime; */
} .nav-list-button, .list-button {
    text-align: left;
    margin-block: var(--header-common-margin);
    padding-inline-end: var(--pad-marg-m);
    font-size: var(--fs-500);
    width:max-content;
} .list-button:hover {
    background-color: var(--clr-contrast);
    color: var(--clr-main);
    /* text-decoration: overline; */
} .infoContent {
    overflow-y: scroll; 
    padding: var(--pad-marg-xl); 
    gap: var(--pad-marg-m);
} .projectNav {
    position: absolute;
    bottom: 0;
    width: 96%; 
    height: 5%;
    justify-content: space-between;
    padding-inline: var(--header-common-margin); 
    background-color: inherit;
    align-items: center;
} .projectNav:hover {
    background-color: var(--clr-main);
    color: var(--clr-secondary);
} .tool {
    display: flex;
    max-height: 20%;
    flex-direction: column;
    flex-wrap: wrap;
} .section {
    border: var(--border-w) solid var(--clr-main);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
} .sectionHeader {
    display: flex;
    min-height: 85px;
    justify-content: space-between;
    align-items: center;
    width:100%;
} .section-active {
    background-color: var(--clr-main) !important;
    color: var(--clr-secondary);
} .section-active:hover {
    background-color: var(--clr-unique-accent) !important;
    color: var(--clr-main);
} .grid {
    display: grid; 
    justify-items: stretch;
    row-gap: var(--pad-marg-s);
} .grid > div {
    /* border-inline-start : 1px solid var(--clr-main); */
    border-block-end: 1px solid var(--clr-main);
    /* background-color: var(--clr-unique-accent); */
    color: var(--clr-main);
    padding: var(--pad-marg-s);
} .grid > div > span {
    font-weight: bold;
    font-size: var(--fs-500);
    /* background-color: var(--clr-main); */
} .adapt {
    flex-direction: column;
    width: 100%;
    background-color: var(--clr-secondary-decline-light);
} 
.caption, .caption-gal {
    background-color: var(--clr-unique-accent);
    color: var(--clr-main);   
    margin: 0; 
    padding-inline-start: var(--pad-marg-l);
    text-transform: capitalize;
    /* text-align: center; */
    width: fit-content;
} 
.cards > div > * {
    margin-block: var(--pad-marg-m);
} .card-label {
    border: var(--border-w) solid var(--clr-main);
} #westProvince > p {
    padding-block: var(--pad-marg-s);
} .longView > *{
    margin-block: var(--margin-p, 1.5rem);
    margin-inline: var(--section-marg-inline);
} a, a:visited {
    color: var(--clr-link)
} a:hover, a:visited:hover {
    color: var(--clr-link-hover)
} p {
    margin-block: var(--margin-p, 0);
    font-size: var(--fs-400);
} .navButton {
    text-decoration: underline;
    /* background-color: var(--clr-secondary); */
    /* color: var(--clr-main); */
} .navButton:hover {
    background-color: var(--clr-unique-accent);
    color: var(--clr-main);
} .ol-large > p > span {
    /* font-weight: bold; */
    font-size: var(--fs-700)
} .flow-chart {
    flex-direction: column;
} .flow-line {
    height: 30px;
    /* background-color: blue; */
} .island {
    /* background-color: var(--clr-accent); */
    background-color: blue;
    /* color: var(--clr-accent); */
    padding: var(--pad-marg-s);
    margin-inline: 15%;
    display: flex;
    /* justify-content: space-between; */
    gap: 25%;
    border: var(--border-w) solid var(--clr-accent);
} .flow-line-top {
    /* background-color: lime; */
    width: 30%; 
    height: 100%;
    border-right: 1px dashed var(--clr-accent);
} .flow-chart-header {
    /* background-color: blueviolet; */
    width: 50px;
    font-weight: bold;
    /* color: var(--clr-secondary); */
    font-size: var(--fs-500);
} 
.accentTXT {
    color: var(--clr-secondary);
    background-color: var(--clr-accent);
} .gallery {
    display: flex;
    /* flex-wrap: wrap; */
    gap: var(--pad-marg-s);
} .gallery-label {
    font-size: var(--fs-500);
    /* width:fit-content;
    color: var(--clr-secondary);
    background-color: var(--clr-main); */
} .gallery-item {
    position: relative;
} .large-quote {
    font-weight: bold;
    font-size: var(--fs-500);
} .invincibleTXT {
    background: var(--clr-unique-accent);
    color: var(--clr-main);
} .proj-tit {
    font-family: var(--ff-decorative);
    font-size: var(--fs-800);
} .image, .image-gal {
    gap: var(--pad-marg-s);
} 
.light-link, .light-link:visited {color: var(--clr-secondary)}
.link, link:visited{ color: var(--clr-link)} 
.link:hover, link:visited:hover  { color: var(--clr-link-hover)} 
/* ------------- */
/* Other classes */
/* ------------- */
.noScrollBar::-webkit-scrollbar {height: 0px; width: 0px;} 
::-webkit-scrollbar {
    height: 3px;
    width: 3px;
} /* Track */
::-webkit-scrollbar-track {
    background: var(--clr-main);
} /* Handle */
::-webkit-scrollbar-thumb {
    background: var(--clr-secondary);   
    width: 13px;
} /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--clr-unique-accent);
}
/* remove animation for people who turned them off */
@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}