:root {
    /* LAYOUT */
    --color-main: #092629;
    --color-accent: #ffe9f8;
} body {
    margin: 0;
    background-color: var(--color-main);
    color: var(--color-accent);
} #world {
    position: absolute; 
    width: 100%;
    height: 100%; 
    /* background-color: greenyellow; */
}  #westsea {
    position: absolute; 
    width: 50%;
    height: 100%; 
    /* background-color: green; */
} #eastsea {
    position: absolute; 
    left: 50%;
    width: 50%;
    height: 100%; 
    /* background-color: chartreuse; */
}  #eastland {
    position: absolute; 
    left: 20%;
    width: 80%;
    height: 100%; 
    background-color: violet;
    opacity: 0.5;
} #hurricane {
    position: absolute; 
} #westland {
    position: relative; 
    /* size breakpoint value sandwich*/
    width: 50%; 
    /* size breakpoint value sandwich */
    height: 100%; 
    /* background-color: magenta; */
    display: flex;
    flex-direction: column;
    justify-content: center;
} #westCountry {
    /* background-color: lime; */
    position: relative; 
    width: 90%;
    height: 95%;
    margin: auto;
    /*  */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}#titleProvince {
    /* background-color: hotpink; */
} #projectProvince {
    /* background-color: orange; */
    display: flex;
    flex-direction: column;
} .project-list-button {
    text-align: left;
} #actionProvince {
    /* background-color: tomato; */
    display: flex;
    flex-direction: column; 
} .action-list-button {
    text-align: left;
} button {
    display: block;
    text-decoration: none;
    box-shadow: none;
    border: 0;
    background: none;
    color: var(--color-accent);
}