/* Custom Properties */
html {
    font-size: 16px;
}:root {
    /* COLOR SCHEME 1 */
    --clr-main: #144C4B; 
    --clr-secondary: honeydew;
    --clr-secondary-decline-light: hsla(115, 100%, 95%, 0.5);
    --clr-accent: #00fa9a;
    --clr-contrast: violet;
    --clr-punch: #f7323d;
    --clr-focus: #f9e853;
    --clr-highlight: #ffa430;
    --clr-cold: rgb(106, 218, 255);
    --clr-unique-accent: var(--clr-accent);
    --clr-link: var(--clr-contrast);
    --clr-link-hover: var(--clr-punch); 
    --clr-scrollbar-track: var(--clr-main) ; 
    --clr-scrollbar-thumb: var(--clr-secondary);
    --clr-scrollbar-hover: var(--clr-unique-accent);
    /* fonts sizes */
    --fs-900: 5.25rem;
    --fs-800: 3.5rem;   
    --fs-700: 2rem; 
    --fs-600: 1.75rem;
    --fs-500: 1.2rem; 
    --fs-400: 1rem; 
    --fs-300: 0.875rem;
    --fs-200: 0.75rem;
    --fs-100: 0.5rem;
    /* fonts families */
    --ff-primary: tabular-regular;
    --ff-display: tabular-medium;
    --ff-primary-medium: tabular-medium;
    --ff-primary-bold: tabular-bold;
    --ff-primary-italic: tabular-italic;
    --ff-secondary: archiv-grotesk-bold;
    --ff-decorative: archiv-grotesk-bold;
    /* placement values */
    --section-marg-inline: 5%;
    --header-common-margin: 2%;
    --project-list-btn-pad: 5%;
    --pad-marg-s: 0.5em; 
    --pad-marg-m: 1em;
    --pad-marg-l: 1.5em;
    --pad-marg-xl: 2em;
    --pad-marg-jumbo: 5em;
    --pad-marg-mega: 7em;
    /* decoration */
    --border-w: 1px;  
    --border-w-bold: 2px; 
} 
/* SINGLE VALUE CLASSES */
/* colors */
.bg-main { background-color: var(--clr-main)}
.bg-secondary { background-color: var(--clr-secondary)}
.bg-accent { background-color: var(--clr-accent)}
.bg-unique-accent { background-color: var(--clr-unique-accent)}
.text-main { color: var(--clr-main)}
.text-accent { color: var(--clr-accent)}
.text-secondary { color: var(--clr-secondary)}
.text-contrast { color: var(--clr-contrast)}
.text-punch { color: var(--clr-punch)}
/* fonts */
.fs-900 { font-size: var(--fs-900)} 
.fs-800 { font-size: var(--fs-800)} 
.fs-700 { font-size: var(--fs-700)}
.fs-600 { font-size: var(--fs-600)}
.fs-500 { font-size: var(--fs-500)}
.fs-400 { font-size: var(--fs-400)} 
.fs-300 { font-size: var(--fs-300)}
.fs-200 { font-size: var(--fs-200)}
.fs-100 { font-size: var(--fs-100)}
/* fonts families */
.ff-primary { font-family: var(--ff-primary)}
.ff-primary-medium { font-family: var(--ff-primary-medium)}
.ff-primary-bold { font-family: var(--ff-primary-bold)}
.ff-secondary { font-family: var(--ff-secondary)}
.ff-decorative { font-family: var(--ff-decorative)}
/* font weight */
.bold {font-weight: bold}
.italic {font-style: italic}
.lowercase {text-transform: lowercase}
.all-cap {text-transform: uppercase}
.capitalize {text-transform: capitalize}
/* font hierarchy */
/* page title */
h1 { font-size: var(--fs-600); font-family: var(--ff-display); margin-block: var(--header-common-margin);}
/* action button */
h2 { font-size: var(--fs-600); font-family: var(--ff-display);}
/*  pop title  */
h3 { font-size: var(--fs-700); font-family: var(--ff-primary-medium);}
/* medium details */
h4 { font-size: var(--fs-300); font-family: var(--ff-primary-italic);}
/* cta button */
h5 { font-size: var(--fs-500); font-family: var(--ff-display); text-align: left; margin-inline: var(--header-common-margin); }
